body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, p, span {
    color: #ffffff;
}

.col-centered {
    display: inline-block;
    float: none;
}

.container-1 {
    margin-top: -280px;
}

.bg-1 {
    background-image: url(../img/banner.png);
    background-position: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.bg-2 {
    background: #2A2A2A;
    height: 100%;
    min-height: 500px;
}

.header-contaner {
    background: #000000;
    height: 112px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-contaner li a {
    color: #ffffff;
    font-family: Antonio-Bold;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-contaner li a.active {
    color: #fabe5e !important;
    background: transparent !important;
}

.header-title {
    position: absolute;
    bottom: -123px;
}

.header-title h3 {
    font-family: Antonio-Bold;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 15px;
    color: #fabe5e !important;
}

.col-md-6.second-column {
    padding-top: 0;
}

.font-1 {
    font-family: RunWild;
    font-size: 42px;
}

.bt-style-1 p {
    font-family: Karla;
    font-size: 24px;
    color: #f2ece3;
    font-family: Karla;
    font-size: 24px;
    color: #f2ece3;
}

.bt-style-2 p {
    font-family: Antonio-Bold !important;
    font-size: 34px !important;
    font-weight: bold !important;
    color: #000000 !important;
    letter-spacing: 1.7px !important;
    line-height: 16px !important;
}

.container-relatives {
    position: relative;
    top: -310px;
}

.custom-box-1 {
    background: transparent;
    border: solid 1px #f2ece3 !important;
}

.custom-box-1 .card-header {
    background: transparent;
    border: none;
    font-family: Antonio-Bold;
    font-size: 44px;
    font-weight: bold;
    line-height: 1.64;
    letter-spacing: 2.2px;
    color: #f2ece3;
}

.custom-box-1 .card-title p {
    font-family: Karla;
    font-size: 24px;
    line-height: 1.25;
    color: #f2ece3;
    font-weight: bold;
}

.custom-box-1 .card-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.custom-box-1 .card-body p {
    font-family: Karla;
    font-size: 24px;
    color: #f2ece3;
}

.custom-box-1 .custom-box-1-footer p {
    font-family: Karla;
    font-size: 24px;
    font-weight: bold;
    color: #ee430d;
}

.card-header {
    background: transparent;
    border: none;
    font-family: Antonio-Bold;
    font-size: 44px;
    font-weight: bold;
    line-height: 1.64;
    letter-spacing: 2.2px;
    color: #f2ece3;
}

.custom-box-1-no-b {
    border: none !important;
    padding-top: 38px;
}

.custom-box-2-no-b {
    border: none !important;
}

.mt-custom-1 {
    margin-top: 11rem !important;
}

.custom-margin-1-plugin-cause p {
    margin-left: -26px;
    margin-top: 14px;
    margin-bottom: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0e626c !important;
}

.p-m-0 p {
    margin-bottom: 0;
}

.custom-card-header {
    padding: 0;
    line-height: 56px !important;
}

.m-auto {
    margin: auto;
}

.social-icons [class*="fa fa-"] {
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    margin: auto 3px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
}

.facebook-bg {
    background-color: #3b5998;
}

.twitter-bg {
    background-color: #4099ff;
}

.bs-float-label {
    position: relative;
    padding: 10px 0;
}

.bs-float-label > .float-input {
    margin-top: 2px;
    height: 55px;
}

.bs-float-label > .float-input:focus {
  /*border-color: #f06d06;*/
}

.bs-float-label > .float-label {
    position: absolute;
    top: 3px;
    font-size: 18px;
    left: 10px;
    background: rgba(255, 255, 255, 0.32);
    -webkit-transition: top .5s ease-in-out, opacity .5s ease-in-out;
  /* For Safari 3.1 to 6.0 */
    transition: top .5s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
    color: #ffffff;
    background: transparent;
}

.bs-float-label > .float-label.show {
    color: #ffffff;
    top: -16px;
    opacity: 1;
    background: transparent;
}

input.float-input, input.float-input:focus {
    border: none;
    border-radius: 0;
    font-size: 24px;
}

.btn {
    border-radius: 0;
    padding: 14px 60px;
    font-size: 20px;
}

.btn-one {
    color: #ffffff;
    background: #ee430d;
    cursor: pointer;
    font-weight: 600;
}

.btn-for-input {
    position: absolute;
    top: 12px;
    right: 0;
}

.footer-m-top-lie {
    margin-top: -90px;
}

.custom-footer {
    background: #000000;
    height: 90px;
    display: flex;
    align-items: center;
}

.custom-footer .row {
    align-items: center !important;
}

.bt-style-footer-1 {
    font-family: Antonio-Bold;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
}

.box-1 {
    margin: auto;
    width: 90px;
    height: 90px;
    background-color: #f2ece3;
    padding-top: 22px;
}

.s-color-1 {
    color: #ee430d;
}

.pt-custom-1.pb-5 {
    padding-top: 190px;
}

.title-lie {
    line-height: 0 !important;
    margin-bottom: 30px;
}

.f-1 {
    float: left;
    margin-right: 14px;
    padding-bottom: 26px;
}

.mb-0-custom {
    margin-bottom: 0;
}

.mb-0-custom p {
    margin-bottom: 0;
}
